@model List<Service.ViewModels.JobHistoryViewModels.JobHistoryListViewModel>
@{
}
<div class="content-header clearfix">
    <h1 class="float-left">
        Job History Of Employees
    </h1>
    <div class="float-right">
        <a class="btn btn-primary" href="/JobHistory/Add">
            <i class="fas fa-plus-square"></i>
            Add new
        </a>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-2">
                        <table class="table table-striped" id="employee-table">
                            <thead>
                                <tr class="bg-primary text-white mx-2 text-center">
                                    <th>Action</th>
                                    <th>Employee</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Job</th>
                                    <th>Department</th>
                                    <th>Company</th>
                                    <th>Responsibilities</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var jobHistory in Model)
                                {
                                    <tr>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a href="/JobHistory/Edit/@jobHistory.JobHistoryId" class="btn btn-info mr-2"><i class="far fa-edit"></i></a>
                                                <a href="/JobHistory/SoftDelete/@jobHistory.JobHistoryId" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </td>
                                        <td>@jobHistory.EmployeeFullName</td>
                                        <td>@jobHistory.StartDate</td>
                                        <td>@jobHistory.EndDate</td>
                                        <td>@jobHistory.JobTitle</td>
                                        <td>@jobHistory.Department</td>
                                        <td>@jobHistory.CompanyName</td>
                                        <td>@jobHistory.Responsibilities</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
 
@section Scripts
    {
    <script>
        $(function () {
            $('#employee-table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });
    </script>
}

